[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"

[packages]
flask = "*"

[scripts]
backend-start = "flask run"
frontend-start = "bash -c 'cd frontend && npm start'"
notebooks = "jupyter notebook --notebook-dir=notebooks"

[requires]
python_version = "3.7"
